.rumah {
    width: 100%;
    //background-color: #5E355C;
    padding-bottom: 50px;

    @media (max-width: 768px){
        width: 100%;
        margin-top: -75px;
    }
    .logo-viola{
        width: 100%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: -25px;
        img {
            width: 20%;
            @media (max-width: 768px){
              width: 75%;
          }
        }
    }
    .heroviola {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        @media (max-width: 768px){
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

      }
        .slider-viola {
            width: 40%;
            margin-top: 20px;
            margin-left: 5%;
            @media (max-width: 768px){
              width: 90%;
              margin-right: 20px;
          }

            .slick-next::before,
            .slick-prev::before {
              font-family: "slick";
              font-size: 30px;
            }
            .slick-list {
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
            }
      
            .slick-dots {
              position: absolute; /* Make dots absolute for positioning within slides */
              bottom: 10px; /* Adjust vertical positioning */
              left: 50%; /* Center dots horizontally */
              transform: translateX(-50%); /* Center dots precisely */
              z-index: 1; /* Ensure dots are above image content */
            }
            .slick-next {
              right: 25px;
            }
            .slick-prev {
              z-index: 1;
              left: 25px;
            }
            .slick-dots {
              li {
                margin: 0;
              }
            }
        }
        .desk-viola {
            width: 50%;
            text-align: center;
            padding-left: 20px;
            color: rgb(87, 87, 87);
            font-size: 20px;
            font-weight: 200;
            font-family: "poppins" sans-serif;
            @media (max-width: 768px){
              width: 100%;
              font-size: 16px;
              margin-top: 10px;
              display: flex;
              justify-content: center;
              text-align: center;
              margin-bottom: -20px;
              padding-right: 20px;
          }
        }
        }
        .cluster{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          margin-bottom: 20px;
          @media (max-width: 768px) {
          }
          .devider-cluster {
            margin-top: 50px;
            background-color: #1c3a6b;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
              flex-direction: column;
              padding-bottom: 50px;
            }
            .judul-cluster {
              width: 100%;
              text-align: center;
              color: White;
              font-weight: 400;
              font-size: 30px;
              line-height: 1em;
              padding-bottom: 10px;
              font-family: "Poppins", sans-serif;
              @media (max-width: 768px) {
                font-size: 25px;
                margin-bottom: 20px;
              }
            }
            .carousel-logocluster {
              width: 50%;
              display: flex;
              justify-content: center;
              @media (max-width: 768px) {
                width: 150%;
                padding: 0px;
                margin: -30px 0px;
              }
              .slick-slider {
                width: 70%;
                margin: auto;
                @media (max-width: 768px){
                  width: 100%;
                  padding: 0px;
                  margin: 0px;
                }
                .slick-next::before,
                .slick-prev::before {
                  font-family: "slick";
                  font-size: 30px;
                }
                .slick-list {
                  border-radius: 10px;
                }
                .slick-track {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  align-self: center;
                }
        
                .slick-dots {
                  position: absolute; /* Make dots absolute for positioning within slides / / Adjust vertical positioning */
                  left: 50%;
                  bottom: -15px; /* Center dots horizontally */
                  transform: translateX(-50%); /* Center dots precisely */
                  z-index: 1; /* Ensure dots are above image content */
                }
                .slick-next {
                  right: 25px;
                }
                .slick-prev {
                  z-index: 1;
                  left: 25px;
                }
                .slick-dots {
                  li {
                    margin: 0;
                  }
                }
              }
            }
            .kartugambar12 {
              @media (max-width: 768px){
                width: 300%;
                padding: 0px;
                margin: 0px;
              }
            } 
          }
        }
      }